@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

:root {
  --background: #fcf5eb;
  --color: #37599d;
}

.dark {
  --background: #37599d;
  --color: #fcf5eb;
}

body {
  background: var(--background);
  color: var(--color);
  overflow-x: clip;
  overscroll-behavior-x: none;
  width: 100%;
  position: relative;
}

